    <div class="navigation nav-po">
        <div class="nav-container nav-po">
            <div class="brand nav-po">
                <a href="/" rel="noopener" title="Accueil">{{ site.nname }}</a>
            </div>
            <nav>
                <ul class="nav-list nav-po">
                    <li>
                        <a href="/" rel="noopener" title="Accueil">Accueil</a>
                    </li>
                    <!--<li>
                        <a href="#photos" rel="noopener" title="Photographies">Photographies</a>
                    </li>
                    <li>
                        <a href="{{ site.lifeinvader2 }}" rel="noopener" title="Page L.I." target="_blank">Page L.I.</a>
                    </li>-->
                </ul>
            </nav>
        </div>
    </div>
    <!--<div id="photos" class="modalDialog">
        <div>
           <a href="#" title="Close" class="close">X</a>
           <h2>Photographies</h2>
           <p>Choisissez ce que vous souhaitez voir:</p>
           <p>- <a href="/photos" title="Photographie de Lynn H." rel="noopener" style="text-decoration: none;color:black;">Photographie de Lynn H.</a></p>
        </div>
    </div>-->