<!DOCTYPE HTML>
<!--
	Code by eireen.sanctuary.rollplay.eu.org | HRP: NotABoy (Lou) | RP: {{ site.aname }}
--> 
    <!-- @layouts -->
<html prefix="og: https://ogp.me/ns#" lang="fr-FR">
	<head>
	<!-- @meta-seo -->
		<meta charset="utf-8" />
		<title>(HRP) {{ page.title }}{{ site.aname }}</title>
{% include meta-seo.html %}
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />	
		<link rel="icon" type="image/png" href="/assets/img/favicon/001.png">
	<!-- @css-js -->
		<link rel="stylesheet" href="/assets/css/nab-requirement.css" />
		<link rel="stylesheet" href="/assets/css/{{ page.css }}.css" />
		<script src="/assets/js/jquery.min.js"></script>
		<style>.notification-bar{width:100%;padding:10px 5%;color:#31708f;background:#d9edf7;position:absolute;box-sizing:border-box;display:none;font-size:14px}.close{top:10px;right:10px;position:absolute;cursor:pointer}body,html{margin:0;font-family:sans-serif}</style>
	</head>
<body class="{{ page.bodyclass }}">
	<div class="page-border">
	<div class="bg--white">
		<!-- @navbar -->
		<!-- // Desactivate -->
		<!-- @made-in-eireen -->
	{% include made-in-eireen.html %}
		<!-- @content -->
		<header class="align--center pt3 pb2">
            <div class="container">
                <h1 class="reveal-on-scroll is-revealing">→ {{ site.nname }} ←</h1>
                <p class="mb1">actuellement âgée de {{ site.aYears }} ans depuis le {{ site.aYdates }} <br> → <a href="/hrp/bg/" style="text-decoration: none !important; color: #4e504d;">revoir le background</a> ←</p>
            </div>
        </header>

		<main>
            <div class="container">
	{{ content }}
			</div>
		</main>

		<script src="/assets/js/scrollreveal.min.js"></script>
		<script src="/assets/js/new-age.js"></script>
</body>
</html>
